################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/FastBuild.Net
/FastBuild.Core/bin/Debug/netcoreapp3.1/FastBuild.Core.deps.json
/FastBuild.Five/bin/Debug/netcoreapp3.1
/FastBuild.Five/obj
/FastBuild.Core/bin/Debug/netcoreapp3.1
/FastBuild.Core/obj
/FastBuild.Net.Core/bin/Debug/netcoreapp3.1
/FastBuild.Net.Core/obj
/FastBuild.Net.Five/bin/Debug/netcoreapp3.1
/FastBuild.Net.Five/obj
/FastBuild.Net.PerformTest/bin/Debug/netcoreapp3.1
/FastBuild.Net.PerformTest/obj
/FastBuild.Net.UnitTest/bin/Debug/netcoreapp3.1
/FastBuild.Net.UnitTest/obj
/FastBuild.Net.Five.EfCore/bin/Debug/netcoreapp3.1
/FastBuild.Net.Five.EfCore/obj
